
*{
    margin:0%;
    padding:0%;
         
}

nav{    
    height: 10%;
    width: 100%;
    background-color: rgb(53, 51, 51);
    margin: 5px;

 }


body,html{
    height:100vh ;
    width:100vw;
}
main{
    height:100vh;
    width: 100vw;
    position: relative;
    
}       

/*carrossel*/

.carousel-inner{
 
   margin-left: 10%;
   height:80%;
   width: 75%;   
   padding:6%; 
}

  
   
/* atelie*/
.atelie {
   height:300px;
   width: 390px;  
   padding: 1px;
   margin-left:180px;
  
     
}

h4{
  text-align:justify;
  color: blueviolet;
  font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
  margin:200px;

  
}

h5{
  text-align-last:right;
  margin-bottom: 2px;
  color: blueviolet;
  font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
  font-size: 15px;  
 
  
}

p{
  
  font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
  margin-top:5px;
  font-size: 9px;
  margin-left:150px;
  text-align: justify;
 
  
  
}
.casamento{
    height:400px;
    width: 350px; 
    margin:70px;
    
    
}


.casamento2{
    display: inline-block;
    height:400px;
    width: 350px; 
    margin:3px;
    margin-left: 200px;
    
}

.sweet{
   
    height:400px;
    width:350px;
    margin:3px;
    
    
    
}


.aniversario{
    display: inline-block;
    height:400px;
    width: 350px; 
    margin:3px;
    margin-left: 200px;
    
     
}

.time2{
    height:400px;
    width: 350px; 
    margin:3px;
    margin-right: 500px;
}
    
  /* Lily*/
.esmalterialily {
    height:75%;
    width: 60%;  
    padding: 1%;
    margin-left: 170px;
    text-align: center;
    text-align: auto;
    display: block;
    font-weight: bold;
    font-size: 12px    
}
    



