
*{
    margin:0%;
    padding:0%;
         
}

nav{    
    height: 10%;
    width: 100%;
    background-color: rgb(10, 10, 10);
    margin: 5px;

 }


body,html{
    height:100vh ;
    width:100vw;
}
main{
    height:100vh;
    width: 100vw;
    position: relative;
    
        
}

.logoecommerce{
   margin-right: auto;
   margin-left: 20%;
   height:75%;
   width: 50%;   
   padding:10%;
    
}

/*carrossel*/

.carousel-inner{
 
   margin-left: 10%;
   height:80%;
   width: 75%;   
   padding:6%; 
}

  
   
/* atelie*/
.atelie {
   height:75%;
   width: 60%;  
   padding: 1%;
   margin-left: 170px;
   text-align: center;
   text-align: auto;
   font-weight: bold;
   font-size: 12px
  
}


.casamento{
    height:80%;
    width: 50%; 
    margin:3px;
    margin-right:200px;
    text-align: right;
    font-family:'Lucida Sans';
   
}

.aniversario{
    height:80%;
    width: 75%; 
    margin-left:210px;
    padding: 1px;
     
}

.time{
    height:80%;
    width: 79%; 
    margin-right:200px;
    padding: 1px;
}
    
  /* Lily*/
.esmalterialily {
    height:75%;
    width: 60%;  
    padding: 1%;
    margin-left: 170px;
    text-align: center;
    text-align: auto;
    display: block;
    font-weight: bold;
    font-size: 12px    
}
    

/* Icones- redes sociais */
ul li{
    list-style: none;
    color: #4d4d4c;
}
 ul li img{
    width: 40px;
    height: 40px;
    margin-right: 5px;
}
.endereco-map, .redes, .endereco{

    display: inline-block;
    margin-left: 50px;
 
}
.endereco-map li{
    line-height: 42px;
}
.endereco li{
    line-height: 42px;
    font-weight: 600;
}
.maps{
    display: inline-block; 
     margin-left: 60px; 
    
}
.maps-img{
    width: 60px;
    height: 60px;
    display: flex;
    align-items:flex-start;

}

.rodape{
    background-color:#333;
    margin: 200px;
    width: 100%;
    padding:0%;
    
    
}
    
.rede-social{
    display:inline-flex;
    text-align:left;
    color: aliceblue;
    font-family: 'sans-serif';
    line-height: 30px;
    padding: 20px;
    
}
.rede-social ul{
    margin-right: 10px;
}
h6{
color: yellow;
margin-left: 0% ;
}

h4{
    display: block;
    text-align:right;
    
} 
h2{

    text-align:center; 
    padding: 15px;
}
  
.figure-acessibilidade{    
    display:block;
    margin-right:auto;
    margin-left: auto;
    width: 60px;
    height:60px;
        
}
   
    
.facebook {
    display:inline-block;
    margin-left:22%;
    width: 40px;
    height:40px;
    margin-top: 1px;
    border: 3px solid darkgrey;
}


.whats {
    display:inline-block;
    margin-left:12%;
    width: 40px;
    height:40px;
    margin-top: 1px;
    border: 3px solid green;
}

.whats-base{
    display:inline-block;
    margin-left:19%;
    width: 40px;
    height:40px;
    margin-top: 10px;
    border: 3px solid green;
    
}


.facebook-base{
    display:inline-block;
    margin-left:20%;
    width: 40px;
    height:40px;
    margin-top: 1px;
    border: 3px solid darkgrey;
}


.jumbotron{
    height: 500px;
}
button{
    margin: 3px;
}
@media (max-width:100px) {

  
    
    table tr td{
        display:block;
        text-align: right;
        
    }
    table tr td:before{
        content: attr(data-title);
        position:absolute;
        display: block;
        left:22px;
    }
    table th {
        display: none;
    }
    .rodape{
        display: none;
    }
}