{% extends "base.html" %} {% block title %}Atelie Deh-Licias{% endblock %}

{% block content %}
<div class="container" >
        
    <div class="row" >
        <div class="col-md-10 col-sm-4">

               {% for oferta in ofertas %}
           
                <div class="card" >
                        <img class="card-img-top" src="static/uploads/{{ oferta.foto }}" alt="foto do produto">
                        <div class="card-body">
                            <p class="card-text"><i><strong>{{ oferta.nome_item }} {{ oferta.marca_item }}</strong></i></p>
                            <p class="card-text">{{ oferta.volume }} {{ oferta.volume_tipo }}</p>
                            por:<h3><strong>{{ oferta.valor }}</strong></h3>
                            <p class="validade"><i>Válido até {{ oferta.data_fim_promocao }}</i></p>
                        </div>
                    
                    </div>

                {% endfor %}
        </div>

<!--Imagens e texto-->

<main>

<div class="atelie">
        <img class="atelie" src="{{ url_for('static', filename='image/logo delicias.png')}}" alt="logo delicias">
        <h5>Bem-vindo ao site do Atelie Deh-lícias</h5>
        <p> A nossa empresa teve inicio na cozinha da minha casa, quando a minha filha nasceu e os medicos a diagnosticaram com um probelma de saúde onde não haveria a possibilidade dela andar. Assim fui cuidando dela e fazendo as encomendas,após muitos anos decidi abrir um espaço fisíco que estou a proximadamente a 3 anos, sou muito grata a Deus e a meu esposo por tudo e por minha filha Mariana que  hoje tem 25 anos uma grande serva de Deus, casada e anda normalmente....</p>
</div>

<div class="casamento">
    <h4>Sweet Cardapio</h4>
    <img class="casamento" src="{{ url_for('static', filename='image/foto casamento.png')}}" alt="foto casamento">
<div>


<div class="foto aniversario">
     <img class="foto aniversario" src="{{ url_for('static', filename='image/foto aniversario.png')}}" alt=" foto aniversario">

<div>

<div class="foto time">
   <img class="foto time" src="{{ url_for('static', filename='image/foto time.png')}}" alt=" foto time">
 <div>









        


{% endblock %}