{% extends "base.html" %} {% block title %}Mercado A{% endblock %}

{% block content %}
<div class="container" >
        
    <div class="row" >
        <div class="col-md-10 col-sm-4">

               {% for oferta in ofertas %}
           
                <div class="card" >
                        <img class="card-img-top" src="static/uploads/{{ oferta.foto }}" alt="foto do produto">
                        <div class="card-body">
                            <p class="card-text"><i><strong>{{ oferta.nome_item }} {{ oferta.marca_item }}</strong></i></p>
                            <p class="card-text">{{ oferta.volume }} {{ oferta.volume_tipo }}</p>
                            por:<h3><strong>{{ oferta.valor }}</strong></h3>
                            <p class="validade"><i>Válido até {{ oferta.data_fim_promocao }}</i></p>
                        </div>
                    
                    </div>

                {% endfor %}
        </div>

<!--Imagens e texto-->

<div class="atelie">
    <img class="atelie" src="{{ url_for('static', filename='image/Atelie Dehlicias.png')}}" alt="Atelie Dehlicias">
</div>
    
     

{% endblock %}