<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- Bootstrap-->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <!--myScript-->
    <script type="text/javascript" src="{{ url_for('static', filename='script/myscript.js')}}"></script>
   <!--MyStyle-->

    <link rel="stylesheet" href="{{ url_for('static', filename='css/mystyle.css')}}">
    
    <title>{% block title %}Home{% endblock %}</title>



</head>
<body>
  
<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    
    <button 
    class="navbar-toggler" 
    type="button" 
    data-toggle="collapse" 
    data-target="#navbar"
    >
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbar">
        <div class="navbar-nav">
            {% if user.is_authenticated %}
            <a class="nav-item nav-link" id="admin" href="/admin">Administrativo</a>
            <a class="nav-item nav-link" id="logout" href="/logout">Logout</a>
            
            <div class="dropdown">
                <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                  Comércios
                </button>
                <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                  <a class="dropdown-item" href="/mercadoa">Mercado A</a>
                  <a class="dropdown-item" href="/mercadob">Mercado B</a>
                  <a class="dropdown-item" href="/mercadoc">Mercado C</a>
                </div>
                </div>
            {% else %}
            <a class="nav-item nav-link" id="home" href="/">Home</a>
            <a class="nav-item nav-link" id="login" href="/login">Login</a>
            <a class="nav-item nav-link" id="signUp" href="/cadastro">Cadastre-se</a>
            <a class="nav-item nav-link" id="signUp" href="/servicos">Serviços</a>
           
            <div class="dropdown">
                <button class="btn btn-secondary dropdown-toggle drop" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Comércios
                </button>
                <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                  <a class="dropdown-item" href="/mercadoa">Mercado A</a>
                  <a class="dropdown-item" href="/mercadob">Mercado B</a>
                  <a class="dropdown-item" href="/mercadoc">Mercado C</a>
                </div>
              </div>
            {% endif %}
        </div>
    </div>
</nav>
<!-- Messagens de erro ou sucesso-->
{% with messages = get_flashed_messages(with_categories=true) %}
    {% if messages %}  
        {% for category, message in messages %} 
            {% if category == 'error' %}
            <div class="alert alert-danger alter-dismissable fade show" role="alert">
               {{ message }} 
               <button type="button" class="close" data-dismiss="alert">
                   <span aria-hidden="true">&times;</span>
               </button>
            </div>
            {% else %}
            <div class="alert alert-success alter-dismissable fade show" role="alert">
                {{ message }} 
                <button type="button" class="close" data-dismiss="alert">
                    <span aria-hidden="true">&times;</span>
                </button>
             </div>
            {% endif %}
        {% endfor %}
    {% endif %}
{% endwith %}



<!--Conteúdo das páginas -->
<main>

    {% block content %}
    {% endblock %}
    <div class=" rodape"> 
        <div class="rede-social ">
            <ul>
                <h6><ol>Institucional</ol></h6>
                <ol>Sobre tabloide</ol>
                <ol>Mapa do site</ol>
                <ol>Politica de privacidade</ol>
            </ul>
        </div>
        <div class="rede-social">
            <ul>  
                <h6><ol>Atendimento ao cliente</ol></h6>
                <ol>Oferta dia</ol>
                <ol>Promoções semanais</ol>
                <ol>Como comprar</ol>
                
            </ul>       
        </div>
        <div class="rede-social">  
            <ul>  
                <h6><ol>Siga o tabloide</ol></h6>
                <img class="facebook-base"src="{{ url_for('static', filename='image/facebook.png')}}" class="figure-img img-fluid rounded  figure-acessibilidade" alt="ìcone do facebook" >
                <img class="whats-base" src="{{ url_for('static', filename='image/whats.png')}}" class="figure-img img-fluid rounded  figure-acessibilidade" alt="Ícone do whatssap" >
                
            </ul>     
        </div> 
        <div class="rede-social">    
            <ul>  
                <h4<ol>Acessibilidade</ol></h4>
                
                <img  src="{{ url_for('static', filename='image/acessibilidade.png')}}" class="figure-img img-fluid rounded  figure-acessibilidade" alt="A generic square placeholder image with rounded corners in a figure." >
                
            </ul>  
        </div> 
    </div>
    
    
</main>
    
    
    
    <!--fontawesome-->
    <script src="https://kit.fontawesome.com/cdd0c2c5dc.js" crossorigin="anonymous"></script>
    <!--Bootstrap-->
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
    <script type="text/javascript" src="{{ url_for('static', filename='script/jquery.js')}}"></script>
    

</body>
</html>