{% extends "base.html" %} {% block title %}Formulário{% endblock %}

{% block content %}
<div class="container">
<a href="/">
<button class="btn btn-success preview" type="button" >Preview/Home</button>
</a>
<h3 align="Center">Formulário</h3>
<form action="" method="POST" enctype="multipart/form-data">

    
    <div class="form-row">
        <div class="form-group">
            <div class="col-md-6 ">
                <label for="mercado">Estabelecimento:<h5>{{ dono.nome_empresa }}</h5></label>
            <input type="hidden" id="user_fk" name="user_fk" value="{{ dono.id }}">

                

            </div>
        </div>
        
      
        <div class="form-group">
            <div class="col-md-6 ">
                <label for="tipo_item">Tipo do produto:</label>
                <select class="form-select" name="tipo" id="tipo" aria-label="Default select example">
                    <option value="">Selecione o tipo do produto</option>
                    <option value="Açougue">Açougue</option>
                    <option value="Frios e laticinios">Frios e laticínios</option>
                    <option value="Adega e bebidas">Adega e bebidas</option>
                    <option value="Higiene e limpeza">Higiene e limpeza</option>
                    <option value="Hortifruit e mercearia">Hortifruit e mercearia</option>
                    <option value="Padaria">Padaria</option>
                    <option value="Enlatados">Enlatados</option>
                    <option value="Cereais">Cereais</option>
                    <option value="Rotisseria">Rotisseria</option>

                </select>
            </div>
    </div>
    <div class="form-group">
        <div class="col-md-6 ">
      <label for="nome">Nome do produto:</label>
      <input type="nome" class="form-control" id="nome" name="nome" placeholder="Digite o nome do produto">
        </div>
    </div>


    <div class="form-group">
        <div class="col-md-6 ">
            <label for="marca">Marca:</label>
            <input type="marca" class="form-control" id="marca" name="marca" placeholder="Digite o nome da marca do item">
        </div>
    </div>

    <div class="form-group">
        <div class="col-md-6 ">
            <label for="volume">Quantidade:</label>
            <input type="volume" class="form-control" id="volume" name="volume" placeholder="Digite a Quantidade de itens">

        </div>
    </div>

    <div class="form-group">
        <div class="col-md-6 ">
        <label for="peso">peso/tamanho:</label>
        <input type="peso" class="form-control" id="peso" name="peso" placeholder="Digite o peso ou metragem">
        </div>
    </div>


    <div class="form-group">
        <div class="col-md-6 ">
            <label for="valor">Valor:</label>
            <input type="valor" class="form-control" id="valor" name="valor" placeholder="Digite o valor do produto">

        </div>
    </div>

    <div class="form-group">
        <div class="col-md-6 ">

            <label for="foto">Arquivo:</label>
            <input id="foto" type="file" class="form-control"  name="foto">
        </div>
        </div>

    <div class="form-group">
        <div class="col-md-6 ">
            <label for="data_fim_promocao">Fim da promoção:</label>
            <input id="fim_promo" type="fim_promo" class="form-control" name="fim_promo" placeholder="digite a validade da promoção">
        </div>
    </div>
</div>

    <div id="cadastrar">
        <button type="submit" class="btn btn-primary" onclick="return valida_form()">Cadastrar produto</button>
    </div>

</form>
</div>



{% endblock %}