{% extends "base.html" %} {% block title %}Formulário{% endblock %}

{% block content %}
<div class="container">

<h3 align="Center">Serviço</h3>
<form action="" method="POST" enctype="multipart/form-data">

    
    <div class="form-row">
        <div class="form-group">
            <div class="col-md-6 ">
                <label for="mercado"><h3> {{ mercado.nome }}</h3></label>
            <input type="hidden" id="estabelecimento_id" name="estabelecimento_id" value="{{ mercado.id }}">
            
            </div>
        </div>
        
      
        <div class="form-group">
            <div class="col-md-6 ">
                <label for="tipo_item">Tipo de Serviço:</label>
                <select class="form-select" name="tipo_item" id="tipo_item" aria-label="Default select example">
                    <option value="">Selecione o serviço</option>
                    <option value="Corte de cabelo">Corte de cabelo</option>
                    <option value="Manicure-Esmalterias">Manicure-Esmalterias</option>
                    <option value="Alimentação">Alimentação</option>
                    <option value="Limpeza">Limpeza</option>
                    <option value="Transporte">Transporte</option>
                    <option value="Locação">Locação</option>
                    <option value="Cursos">Cursos</option>
                    <option value="Jardinagem">Jardinagem</option>
                    <option value="Reparos/manuntenção">Reparos/manutenção</option>

                </select>
            </div>
    </div>
    <div class="form-group">
        <div class="col-md-6 ">
      <label for="nome_item">Endereço:</label>
      <input type="nome_item" class="form-control" id="nome_item" name="endereco" placeholder="Digite o endereço do serviço">
        </div>
    </div>


    <div class="form-group">
        <div class="col-md-6 ">
            <label for="marca_item">Apresentação:</label>
            <textarea type="marca_item" class="form-control" id="marca_item" name="marca_item">Descreva o negócio</textarea>
        </div>
    </div>

    <div class="form-group">
        <div class="col-md-6 ">
            <label for="volume_tipo">Telefone:</label>
            <input type="volume_tipo" class="form-control" id="volume_tipo" name="volume_tipo" placeholder="digite um telefone para contato">

        </div>
    </div>


    <div class="form-group">
        <div class="col-md-6 ">
            <label for="valor">Valor:</label>
            <input type="valor" class="form-control" id="valor" name="valor" placeholder="escreva o valor do serviço">

        </div>
    </div>

    <div class="form-group">
        <div class="col-md-6 ">

            <label for="data-final-promo">Arquivo:</label>
            <input id="foto" type="file" class="form-control"  name="foto">
        </div>
        </div>

    <div class="form-group">
        <div class="col-md-6 ">
            <label for="data_fim_promocao">Horáio de funcionamento:</label>
            <input id="data_fim_promocao" type="data_fim_promocao" class="form-control" name="data_fim_promocao">
        </div>
    </div>
</div>

    <div id="cadastrar">
        <button type="submit" class="btn btn-primary" onclick="return valida_form()">Salvar</button>
    </div>

</form>
<a href="/">
<button class="btn btn-success preview" type="button" >Preview/Home</button>
</a>
</div>


{% endblock %}